{%- import_yaml slspath + "/defaults.yaml" as default_settings %}
{%- set gwheartbeat = salt.pillar.get(
    'envio:gwheartbeat',
    default=default_settings.envio.gwheartbeat,
    merge=True) %}
{%- set gateway = salt.pillar.get(
    'envio:gateway',
    default=default_settings.envio.gateway,
    merge=True) %}
